@media screen and (max-width:749px ) {
	.nav{
		padding-left: 27px;
		padding-right: 19px;
	}
	.content-second{
		height: 86px;
		padding-left: 32px;
		padding-top: 0;
}
	.second-left{
		height: 74px;
		width: 72%;
}
	.second-left .down a{
	font-size: 14px;
	height: 86px;
	line-height: 35px;
	}
	.content-third{
		height: 695px;
		padding-left: 21px;
		padding-right: 21px;
	}
	.third-right{
		float: none;
		margin: auto;
		width: 100%;
	}
	.third-top{
		padding-left: 197px;
	}
	.third-left{
		margin: auto;
		width: 100%;
	}
	.third-left li{
		width: 100%;
		float: none;
		margin-top: 17px;
	}
	.feature{
		width: 100%;
	}
	.content-forth{
		height: 1607px;
		width: 95%;
	}
	.forth-left{
		float: none;
		width: 100%;
		margin: auto;
	}
	.navigate{
		display: none;
	}
	.forth-right{
		float: none;
		width: 100%;
		padding-left: 0;
		padding-top: 0;
	}
	.members li{
		float: none;
		width: 100%;
		margin: auto;
		margin-top: 21px;
	}
	.other li{
		float: none;
		width: 100%;
	}
	.top-cen{
		width: 100%;
	}
	.footer-top{
		width: 94.79%;
	}
	.karl{
		font-size: 16px;
	}
	.footer-bottom{
		width: 94.79%;
	}
	.lefter{
		float: none;
		width: 100%;
	}
	.right{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.foundation{
		text-align: center;
	}
}
